@using eTickets.Data.ViewModels;
@model LoginVM;
@using System.Globalization;
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer
@{
    ViewData["Title"] = localizer["Log in to your account"];
}
@if (CultureInfo.CurrentCulture.Name.StartsWith("ar"))
{
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.rtl.min.css"
      integrity="sha384-gXt9imSW0VcJVHezoNQsP+TNrjYXoGcrqBZJpry9zJt8PCQjobwmhMGaDHTASo9N"
      crossorigin="anonymous">
           <style>.cr{direction:rtl;}</style>
}
@if (TempData["success"] != null)
{
    <div class="col-md-12 alert alert-success text-center text-white">
        <span>@TempData["success"] </span>
    </div>
}
<div class="container  cr">
    <div class="col-md-6 offset-3">
        <p>
            <h4 class="text-white">@localizer["Log in to your account"]</h4>
        </p>
        @if (TempData["Error"] != null)
        {
            <div class="col-md-12 alert alert-danger">
                <span><b>@localizer["Sorry!"]</b> - @TempData["Error"] </span>
            </div>
        }
        <div class="container">
            <div class="col-md-8 offset-2">
                <form asp-action="Login">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="mb-4">
                        <label asp-for="EmailAddress" class="control-label text-white"></label>
                        <input asp-for="EmailAddress" class="form-control bg-warning" />
                        <span asp-validation-for="EmailAddress" class="text-danger"></span>
                    </div>
                    <div class="mb-4">
                        <label asp-for="Password" class="control-label text-white"></label>
                        <input asp-for="Password" class="form-control bg-warning" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <div class="mb-4">
                        <input class="btn btn-outline-warning float-lg-end" type="submit" value="@localizer["Log in"]" />
                        <a class="btn btn-outline-light" asp-controller="Movies" asp-action="Index">@localizer["Cancel"]</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>